fastapi>=0.115,<1
uvicorn[standard]>=0.30,<1
gunicorn>=21.2,<24
strawberry-graphql[fastapi]>=0.235,<1
sqlalchemy>=2.0.30,<3
alembic>=1.13,<2
psycopg2-binary>=2.9.9,<3
python-jose[cryptography]>=3.3,<4
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic>=2.7,<3
pydantic-settings>=2.3,<3
